h1 {
    color: whitesmoke;
}

.navbar {
    /*background-color: #4E83B9;*/
    border-radius: 0;
    /*border-bottom: solid 2px #7F4D2C;*/
    border-width: 0;
    margin-bottom: 0;
}

/*
.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
}

.navbar-default .navbar-brand {
    color: whitesmoke;
}
*/
.banner {
    background: url("../img/banner-trans.png") no-repeat;
    background-size: 50%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.content {
    margin: 2em 10em;
    padding-bottom: 5em;

}


/*Sticky footer*/
html {
    min-height: 100%;
    position: relative;

}
body {
    margin-bottom: 60px;
    min-height: 10em;
    color: rgba(78, 193, 255, 0.69);
    background-image: url("../img/1680x1050.jpg");
}
.footer {
    background-color: #F8F8F8;
    color: #193B40;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
.container {
    max-width: 680px;
    padding: 0 15px;
    width: auto;
}
.container .text-muted {
    margin: 20px 0;
    color: #193B40;
}

