.content {
    margin: 2em 10em;
}

h1 {
    color: #193B40;
}

.navbar {
    background-color: #4AB1BF;
    border-bottom: solid 2px #BF1A12;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #193B40;
}


/*Sticky footer*/
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
    min-height: 10em;
    color: #32767F;
}
.footer {
    background-color: #4AB1BF;
    color: #193B40;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    border-top: solid #BF1A12 2px;
}
.container {
    max-width: 680px;
    padding: 0 15px;
    width: auto;
}
.container .text-muted {
    margin: 20px 0;
    color: #193B40;
}

